Estimados,<br/>
El compromiso de la semana es el siguiente:<br/><br/>
<ul>
<% @tasks.each do |t| %>
  <li><a href="<%= t[:url]%>">
  <%= t[:name] %>
  </a>
<% end %>
</ul>
<br/>
Atte,
El Equipo
<br/>
<small>Enviado a través de managator</small>